# By default, the config file has tabs, so I will stick to that.
# With vim, do ":set noexpandtab" before editing the file
[user]
	name = Taimoor Zaeem
	email = taimoorzaeem@gmail.com
	signingkey = # signing key for verified commits
[core]
	autocrlf = input
	editor = vim
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	colorMovedWS = ignore-white-space
[fetch]
	prune = true
[alias]
	chpk = cherry-pick
[credential]
	helper = store
[commit]
	gpgsign = true # sign commit using the signing key
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 465
	smtpencryption = ssl
	smtpuser = taimoorzaeem@gmail.com
